<!DOCTYPE html>

<html ng-app="music">
  <head>
    <meta charset="utf-8" />
    <title>Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
    <div ng-view></div>
  </head>

  <body>
    <header>
    <h1>Discogvery</h1>
    <h2>Discover new music!</h2>
    </header>

    <div class="container search" ng-controller="search">
      <div class="search-bar">
        <form class="form-inline">
          <div class="form-group col-sm-5">
            <label for="artist1">First Artist</label>
            <input type="text" class="form-control" id="artist1" ng-model="artist1" placeholder="Radiohead">
          </div>
          <div class="form-group col-sm-5">
            <label for="artist2">Second Artist</label>
            <input type="text" class="form-control" id="artist2" ng-model="artist2" placeholder="The Beatles">
          </div>
        </form>
          <button ng-click="getSimilarBoth()">Submit</button>
      </div>
    
      <div class="results col-sm-6">
        <div class="artist col-sm-6" ng-repeat="artist in displayArtists.left">
          <!--{{artist.match | number:2}}-->
          <div class="artist-square" width="120px" height="120px" back-img={{artist.image[2]['#text']}}>
            <div class="artist-name">{{artist.name}}</div>
          </div>
        </div>
      </div>

      <div class="results col-sm-6">
        <div class="artist col-sm-6" ng-repeat="artist in displayArtists.right">
          <!--{{artist.match | number:2}}-->
          <div class="artist-square" width="100px" height="100px" back-img={{artist.image[2]['#text']}}>
            <div class="artist-name">{{artist.name}}</div>
          </div>
        </div>
      </div>

    </div>
    
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./utils.js"></script>
    <script src="lib/underscore/underscore.js"></script>
  </body>

</html>