<!DOCTYPE html>

<html ng-app="music">
  <head>
    <meta charset="utf-8" />
    <title>Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
    <div ng-view></div>
  </head>

  <body>
    <header>
    <h1>Discogvery</h1>
    <h2>Discover new music!</h2>
    </header>

    <div class="container search" ng-controller="search">
      <form class="form-inline">
        <div class="form-group col-sm-6">
          <label for="artist1">First Artist</label>
          <input type="text" class="form-control" id="artist1" ng-model="artist1" placeholder="Radiohead">
        </div>
        <div class="form-group col-sm-6">
          <label for="artist2">Second Artist</label>
          <input type="text" class="form-control" id="artist2" ng-model="artist2" placeholder="The Beatles">
        </div>
      </form>
      <button ng-click="getSimilarBoth()">Submit</button>
    
      <div class="results col-sm-6">
        <div class="artist col-sm-5" ng-repeat="artist in displayArtists.left">
          <!--{{artist.match | number:2}}-->
           {{artist.name}}
          <div width="100px" height="100px" back-img={{artist.image[2]['#text']}}></div>
        </div>
      </div>

      <div class="results col-sm-6">
        <div class="artist" ng-repeat="artist in displayArtists.right">
          {{artist.match | number:2}} {{artist.name}}
          <img width="100px" height="100px" ng-src={{artist.image[2]['#text']}}>
        </div>
      </div>

    </div>
    <!--
      <span class="side" id="left">
        <span><input type='text' ng-model='artist1' placeholder='Pick an Artist!' /></span>
        <button ng-click="getSimilar(artist1,'left')">Get Similar Artists</button>
        <div class="artist" ng-repeat="artist in similarArtists.left">
          {{artist.match.toPrecision(3)}} {{artist.name}}
        </div>
      </span>
      
      <span class="side" id="right">
        <span><input type='text' ng-model='artist2' placeholder='Pick an Artist!' /></span>
        <button ng-click="getSimilar(artist2,'right')">Get Similar Artists</button>
        <div class="artist" ng-repeat="artist in similarArtists.right">
          {{artist.match.toPrecision(3)}} {{artist.name}}
        </div>
      </span>

      <div class="artist" ng-repeat="artist in commonArtists">
        {{artist.match}} {{artist.name}}
      </div> -->
    

    <script src="lib/angular/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./utils.js"></script>
  </body>

</html>