header {
  margin:0 auto;
  max-width: 100%;
  text-align: center;
}

.search {
  max-width:80%;
}

.search-bar {
  margin-bottom: 2rem;
}

.form-group {
  padding: 0;
}

button {

}

img {
  object-fit: cover;
  text-align: right;
}

div[back-img]{
    width: 120px;
    height: 120px;
}

.artist-square {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.artist-name {
  position: absolute;
  bottom: 8px;
  background-color: #ddd;
}